<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>936167557085-qh63etb3ibq8fv92orfue9m28o5tboh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936167557085-qh63etb3ibq8fv92orfue9m28o5tboh6</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rj2cHtYe6rPSPkPo8t_u_ItfQT8i4oU</string>
	<key>GCM_SENDER_ID</key>
	<string>936167557085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpotPin.testChat</string>
	<key>PROJECT_ID</key>
	<string>testchat-d80bf</string>
	<key>STORAGE_BUCKET</key>
	<string>testchat-d80bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936167557085:ios:e92ced610283c1ba</string>
	<key>DATABASE_URL</key>
	<string>https://testchat-d80bf.firebaseio.com</string>
</dict>
</plist>